/*We will use ::after Sudoclass for the horizontal line*/

*{
    margin:0;
    padding: 0;
}
body{
    box-sizing: border-box;
   
   
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.heading
{
    font-family: 'Courier New', Courier, monospace;
   
    text-align: center;
   
    font-size: 2rem;
    margin-top: 2rem;
}
.heading h2{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    font-size: 2rem;
}

.left-content
{
    /* border: 2px solid red; */
    width: 20rem;
    height: fit-content;
    /* height: 100vh; */
    height: fit-content;
   position: relative;

}
.left-content::after{
    content: "";
    position: absolute;
    top: 1rem;
    left: 23.6vw;
    width: 2.5px;
    height: 34rem;
    background-color: rgb(73, 71, 68);
}

.navbar{
    /* border: 2px solid yellow; */
   
    height: 21rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
nav{
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
nav a
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 4px 4px;
    font-weight: 900;
    border-radius: 3px;
    /* padding: .3rem 4.5rem; */
    width: 18vw;
    padding:.6rem 1rem ;
    font-size: .9rem;
    /* border: 1px solid gray ; */
    text-decoration: none;
    text-align: center;
    color: rgb(51, 50, 50);
    text-transform: uppercase;
}
nav a:hover{
    background-color: rgb(250, 233, 0);
    transition: .7s;
    color: rgb(10, 10, 10);
}
.navbar::after
{
    content: "";
    background-color: rgb(42, 43, 43);
   
    width: 100%;
    max-width: 20vw;
    height: 3px;
    position: absolute;
    top: 28rem;
    
}

.icons{
    /* border: 2px solid rgb(104, 39, 39); */
   
    text-align: center;
    height: fit-content;
    margin:auto;
    margin-top: 3.5rem;
    max-width: fit-content;
}
.icons i{
    border: 2px solid rgb(90, 90, 90);
    padding: 4px 8px;
    margin: 4px;
    color: rgb(28, 31, 31);
    font-size: 12px;
}
.icons i:hover{
    background-color: black;
    color: aliceblue;
    transition: .6s;
    cursor: pointer;
}
.licence{
    text-align: center;
    margin-top: 1.99rem;
    font-size: 12px;
    word-spacing: 4px;
    line-height: 19px;
    
}


.right-content{
    /* border: 2px solid greenyellow; */
    width: 60rem;
    height: 40rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.m-logo{
    border: 10px solid rgb(46, 46, 46);
    width: 11rem;
    width: 11.6rem;
    border-radius: 50%;
    margin-left: 2rem;
}
.m-logo:hover{
    transition: .6s;
   border:  10px solid rgb(231, 208, 79);
}
.m-logo:hover .logo{
    border: 5px solid rgb(53, 53, 53);
   
}
.logo{
    border: 5px solid rgb(255, 255, 255);
    width: 11rem;
    border-radius: 50%;
    height: 11rem;
}
.logo img{
    height: 11rem;
    width: 11rem;
    border-radius: 50%;
}
.heading-down{
    /* border: 2px solid black; */
    margin: 0rem  3rem;
    font-family: 'Courier New', Courier, monospace;
   
    text-align: center;
   color: rgb(65, 65, 65);
    font-size: 1.5rem;
}
.heading h3,h4{
font-size: 80%;
margin: .7rem 0rem;
}


@media screen  and (max-width:1036px) {

    nav  a{
        font-size: 10px;
    }
    h4{
        font-size: 60%;

    }
    h2,h3{
        font-size: 90%;
    }
    .left-content::after{
        left: 28.4vw;
    }
    .heading h2{
        font-size: 70%;
    }
}

@media screen  and (max-width:830px)
{
    .right-content{
        flex-direction: column;
    }
    .heading-down{
        /* border: 2px solid red; */
        margin-top: 2rem ;
        margin-left: 5rem;
        padding-right: 2rem;
        text-align: center;
    }

    .logo img{
        width: 8rem;
        height: 8.3rem;
    }
    .m-logo{
        width: 8.6rem;
        height: 8.9rem;
    }
    .logo{
        width: 8rem;
        height: 8.3rem;
    }
    .heading{
        padding-right: 2rem;
        width: 100%;
        margin: 1rem  auto;
    }

}
@media screen  and (max-width:452px)
{
    .left-content::after{
        left: 34vw;
    }
    .left-content::after{
        display: none;
    }
    .left-content{
        box-shadow: 2px 2px 10px rgb(209, 209, 209);
    }
    
}
